.place__link-address {
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin-bottom: 48px;
    transition: opacity 300ms;
}

.place__link-address:hover:hover {
    opacity: .8;
}