.photo-grid {
    display: grid;
    grid-gap: 16px;
    max-width: 1184px;
    padding-bottom: 92px;
    grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        padding: 0 48px;
        margin-bottom: 92px;
    }
}