.header__language {
    color: #fff;
    margin: 0;
    padding: 0;
    margin-right: 18px;
    list-style-type: none;
}

.header__language:last-child {
    margin-right: 0;
}

@media screen and (max-width: 320px) {
    .header__language {
        font-size: 18px;
    }
}