.header__language {
    color: #fff;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Inter", "Helvetica Neue";
    font-weight: normal;
    font-style: normal;
    text-decoration-line: underline;
    font-size: 24px;
    margin-right: 18px;
}

.header__language:last-child {
    margin-right: 0;
    text-decoration-line: none;
}

@media screen and (max-width: 320px) {
    .header__language {
        font-size: 18px;
    }
}