.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 984px;
    margin-bottom: 58px;
    padding: 0 148px;
}

@media screen and (max-width: 1024px) {
    .header {
        padding: 0 48px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 0 24px;
    }
}