.header__button {
    list-style: none;
    font-family: "Inter", "Helvetica Neue";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    text-decoration: none;
    transition: opacity 300ms;
    color: #fff;
}

.header__button_active {
    text-decoration-line: underline;
}

.header__button:hover {
    opacity: .8;
}

@media screen and (max-width: 320px) {
    .header__button {
        font-size: 18px;
        line-height: 20px;
    }
}