.cover {
    min-height: 740px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    /*z-index: -1;*/
    max-width: 1184px;
    margin: 0 48px;
    justify-content: center;
    align-items: center;
    margin-bottom: 92px;
}

@media screen and (max-width: 1024px) {
    .cover {
        min-height: 640px;
        margin: 0;
        margin-bottom: 92px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        min-height: 480px;
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        min-height: 200px;
        width: 320px;
        margin-bottom: 64px;
    }
}