.section-wide {
    padding: 0 48px;
}

@media screen and (max-width: 1024px) {
    .section-wide {
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    .section-wide {
        padding: 0;
    }
}