.cover__background {
    background-image: url(../../../images/cover-route-66.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 740px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}