.cover__background {
    background-image: url(../../../images/cover-route-66.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 740px;
}

@media screen and (max-width: 1024px) {
    .cover__background {
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover__background {
        min-height: 480px;
    }
}

@media screen and (max-width: 320px) {
    .cover__background {
        min-height: 200px;
        width: 320px;
    }
}