.place {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr;
    max-width: 984px;
    margin: auto;
    margin-bottom: 80px;
}

@media screen and (max-width: 320px) {
    .place {
        max-width: 320px;
        grid-gap: 12px;
    }
}